.cache
.coverage
.dockerignore
.egg
.gitignore
.tox

**/build
**/dist
**/htmlcov
**/__pycache__
**/*.egg-info
**/*.egg
**/*.pyc
**/*.pyo
**/*.swp

# nomad / docker-compose

**/alloc

**/local
!local/.pylintrc
!local/unit.test.cfg
!local/system.test.cfg

**/model

**/secrets
